.blur-intersecting {
  --transition-duration: 0.5s;
  opacity: 0;
  filter: blur(5px);
  transition: opacity var(--transition-duration), filter var(--transition-duration);
}
.blur-intersecting.active {
  opacity: 1;
  filter: blur(0);
}
