body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
  background-color: #f6e4e2;
}
#nav {
  align-self: start;
  width: 1200px;
  max-width: 96vw;
  padding: 0 var(--default-gap);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav > a {
  display: block;
  font-size: calc(1rem + 2vw);
  color: #d16a75;
}
#nav > a.active {
  color: #69212a;
}
#nav > a:hover {
  color: #69212a;
  background-color: transparent;
}
#main {
  align-self: start;
  height: 100%;
  width: 700px;
  max-width: 90vw;
  margin: 0 auto 0 auto;
  display: grid;
  align-content: center;
}
#main > h1 {
  color: #69212a;
  font-size: calc(4rem + 3vw);
  line-height: 1;
  text-align: center;
  margin-bottom: calc(1.5 * var(--default-gap));
}
#main > p {
  margin: var(--default-gap) auto;
}
#main > p > a {
  color: #d16a75;
}
#main > p > a:hover {
  color: #69212a;
}
footer {
  align-self: end;
  width: 100%;
  padding: calc(2 * var(--default-gap)) 0;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: calc(var(--default-gap) / 2);
  background-color: var(--footer);
}
footer > img {
  width: calc(3 * var(--default-gap));
  margin: 0 auto;
}
footer > a,
footer button.link {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  color: var(--link-footer);
  background-color: var(--link-contrast-bg);
}
footer > a:hover,
footer button.link:hover {
  color: #f6e4e2;
  background-color: transparent;
}
footer > hr {
  width: 700px;
  border-top: 0.1rem solid #f6e4e2;
  max-width: 96vw;
  margin: var(--default-gap) 0;
}
.modal {
  padding-bottom: var(--default-gap);
}
.modal > #modal-credits-inner {
  border: 0.1rem solid #d16a75;
}
